<!DOCTYPE html>
<html>
<head>
    <title>User Creation Form</title>
</head>
<body>
    <div style="background-color: #f2f2f2;">
        <div style="background-color: 808080; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <h1>User Creation Form</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Create User">
            </form>
        </div>
    </div>
</body>
</html>
